{% load static %}

{% block content %}

    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Admin</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">
        <link rel="stylesheet" href="{% static 'css/adminstyles.css' %}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    </head>
    <body>
    <!-- Drop Downs -->
    <nav id="adminnav" class="navbar navbar-expand-sm bg-dark navbar-dark pb-2">
        <div class="nav-item">
            <a class="fas fa-home fa-home-lg mr-5 navbar-brand" href="{% url 'home' %}"></a>
        </div>
        <label for="selectDay"></label><select class="form-check m-2 mr-3" id="selectDay">
        <option class="dropdown-item" href="#" value="">Select Day</option>
        <option class="dropdown-item" href="#" value="monday">Monday</option>
        <option class="dropdown-item" href="#" value="tuesday">Tuesday</option>
        <option class="dropdown-item" href="#" value="wednesday">Wednesday</option>
        <option class="dropdown-item" href="#" value="thursday">Thursday</option>
        <option class="dropdown-item" href="#" value="friday">Friday</option>
        <option class="dropdown-item" href="#" value="saturday">Saturday</option>
    </select>
        <label for="selectTeacher"></label><select class="form-check m-2 mr-5" id="selectTeacher">
        <option class="dropdown-item" href="#" value="">Select Teacher</option>
        {% for teacher in teachers %}
            <option class="dropdown-item" href="#"
                    value={{ teacher.id }}> {{ teacher.user.first_name }} {{ teacher.user.last_name }} </option>
        {% endfor %}
    </select>
        <div class="ml-5">
            <h3 id="currentdate" style="color: white"></h3>
        </div>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="btn btn-sm btn-light p-1 mr-5 mb-2 mt-2" onclick="previousMonth()">Previous</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-sm btn-light pl-3 pr-3 mr-5 mb-2 mt-2" onclick="nextMonth()">Next</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-outline-light mr-4 mb-2 mt-2" href="{% url 'logout' %}">Logout</a>
                </li>
            </ul>
        </div>
    </nav>
    <!-- Modal----------------------------------------------------- -->
    <div id="updateAttendanceModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body" style="border:2px solid black">
                    <div class="container p-2">
                        <div class="row">
                        <input type="radio" id="present" name="adminAttendance" value="present">
                        <label for="present">Present</label><br>
                        <input type="radio" id="absent" name="adminAttendance" value="absent">
                        <label for="absent">Absent</label><br>
                        <input type="radio" id="makeup" name="adminAttendance" value="makeup">
                        <label for="makeup">Makeup</label>
                        <button class="btn btn-warning btn-lg" id="attendanceUpdate">Update</button>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="dropStudentModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body" style="border:2px solid black">
                    <p><span id="dropStudentName"></span></p>
                    <div class="row">
                        <button class="btn btn-primary btn-lg mr-5" dropId='0' id='confirmDrop'>Drop</button>
                        <button class="btn btn-warning btn-lg" id="cancel_drop">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="editStudentModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body" style="border:2px solid black">
                    <div class="container p-2">
                        <h4 class="text-center">Edit Notes</h4>
                        <form action="" id="editForm">
                            <div class="form-group">
                                <label for="notes">Notes</label>
                                <textarea class="form-control rounded-0"
                                          rows="5" name="notesEdit" id="notesEdit"></textarea>
                            </div>
                            <button onclick="updateNotes(this.id)" class="btn btn-primary" type="submit" name="submit"
                                    id='submitEdit'>Confirm
                            </button>
                            <button class="btn btn-warning" id="cancel_insert">Cancel</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="addStudentModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!--Modal content-->
            <div class="modal-content">
                <div class="modal-body" style="border:2px solid black">
                    <div class="container p-2">
                        <h4 class="text-center">Add New Student</h4>
                        <form action="" id="addStudent">
                            <div class="row">
                                <div class="col">
                                    <fieldset class="form-group">
                                        <div class="form-group">
                                            <input class="form-control" type="text" placeholder="First Name"
                                                   name="first" id="first" required>
                                        </div>
                                        <div class="form-group">
                                            <input class="form-control" type="text" placeholder="Last Name" name="last"
                                                   id="last" required>
                                        </div>
                                    </fieldset>

                                    <fieldset class="form-check border border-secondary-light m-2 p-3">
                                        <h6>Monthly Rate:</h6>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" id="old" name="charge_rate"
                                                   value="$110">
                                            <label class="form-check-label mr-2" for="old">$110</label><br>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" id="new" name="charge_rate"
                                                   value="$120">
                                            <label class="form-check-label mr-2" for="new">$120</label><br>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" id="scholarship"
                                                   name="charge_rate" value="scholarship">
                                            <label class="form-check-label mr-2"
                                                   for="Scholarship">Scholarship</label><br>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" id="annual" name="charge_rate"
                                                   value="Annual">
                                            <label class="form-check-label mr-2" for="annual">Annual</label><br>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" id="other" name="charge_rate"
                                                   value="Other">
                                            <label class="form-check-label mr-2" for="other">Other</label><br>
                                        </div>
                                    </fieldset>
                                </div> <!--col 1 (row1)-->
                                <div class="col">
                                    <fieldset class="form-group">
                                        <div class="form-group">
                                            <label for="time">Time</label>
                                            <input class="form-control" type="text" name="time" id="time" disabled>
                                        </div>
                                        <div class="form-group">
                                            <label class="form-control-label" for="day">Day</label>
                                            <input class="form-control" type="text" name="day" id="day" disabled>
                                        </div>
                                    </fieldset>
                                    <div class="form-group">
                                        <label class="form-control-label" for="teacher">Teacher</label>
                                        <input class="form-control" type="text" name="teacher" id="teacher" disabled>
                                        <!--<select class="form-group" id="teacher">
                                            <option value="">Teacher</option>
                                            {% for teacher in teachers %}
                                                <option value="{{ teacher.id }}">{{ teacher }}</option>
                                            {% endfor %}
                                        </select>-->
                                    </div>
                                    <div class="form-group">
                                        <label class="form-control-label" for="start_date">Start Date</label>
                                        <input class="form-control" type="date" name="start_date" id="start_date">
                                    </div>
                                </div> <!--col 2(row1)-->
                                </fieldset>

                            </div><!--row 1-->
                            <div class="row">
                                <div class="col col-12">
                                    <textarea class="form-control rounded-0" rows="5"
                                              placeholder="Notes" name="notes" id="notes"></textarea>
                                </div><!--col-->
                            </div><!--row 2-->
                            <div class="form-group mt-2 ml-5 mr-5">
                                <button class="btn btn-primary btn-block" type="submit" name="submit" id="add"
                                        value="Add">Save
                                </button>
                            </div>
                        </form>
                    </div><!--container-->
                </div><!--modal body-->
            </div><!--modal content-->
        </div><!--modal dialog-->
    </div><!--add student modal-->
    {#    <script src="../static/js/lessonDates.js"></script>#}
    <script>
        $.ajaxSetup({
            beforeSend: function (xhr, settings) {
                function getCookie(name) {
                    var cookieValue = null;
                    if (document.cookie && document.cookie !== '') {
                        var cookies = document.cookie.split(';');
                        for (var i = 0; i < cookies.length; i++) {
                            var cookie = jQuery.trim(cookies[i]);
                            // Does this cookie string begin with the name we want?
                            if (cookie.substring(0, name.length + 1) == (name + '=')) {
                                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                break;
                            }
                        }
                    }
                    return cookieValue;
                }

                if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                    // Only send the token to relative URLs i.e. locally.
                    xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
                }
            }
        });

        let student;
        $('#addStudent').submit(function (e) {
            e.preventDefault()
        });
        $('#insertStudent').submit(function (e) {
            e.preventDefault()
        });

        $("#confirmInsert").on('click', function () {
            var studentId = $("#studentSelector").val();
            var start_date = $("#insert_start_date").val();
            var end_date = $("#insert_end_date").val();

            var start = new Date(start_date.toString());

            start.setDate(start.getDate() + 1);


            if (end_date != null) {
                var end = new Date(end_date.toString());
                var lesson_dates = getDateArray(start, end);
                end.setDate(end.getDate() + 1);
            }
            $.ajax({
                type: "PATCH",
                url: "sam_api/rm_sam/" + studentId + "/",
                data: {
                    time: $("#time").val(),
                    day: $("#selectDay").val(),
                    teacher: $("#selectTeacher").val()

                },
                success: function (result) {
                    console.log(result);
                    buildTable($("#selectDay").val());
                    jQuery("#insertStudentModal").modal('toggle');
                },
                error: function (xhr, resp, text) {
                    console.log(xhr, resp, text);
                }
            });
        })

        //**********************************************************************************
        function updateNotes(clickedID){
            $(document).on('click', '#submitEdit', function () {
            //editId = $(this).attr('editId')
            $.ajax({
                type: "PATCH",
                url: "sam_api/rm_sam/" + clickedID + "/",
                data: {
                    notes: $("#clickedID").val()
                },
                error: function (xhr, resp, text) {
                    console.log(xhr, resp, text);
                }
            });
        });

        }




        //**********************************************************************************


        $("#add").on('click', function () {
                // send ajax
                let first = $("#first").val();
                let last = $("#last").val();
                let time = $("#time").val();
                let day = $("#day").val();
                //let email = $("#email").val();
                //let phone = $("#phone").val();
                //let instrument = $("#instrument").val();
                let start_date = $("#start_date").val();
                let teacher = $("#selectTeacher").val();
                let charge_rates = document.getElementsByName('charge_rate');
                let notes = $("#notes").val();
                //let parent_first = $("#parent_first").val();
                //let parent_last = $("#parent_last").val();
                //let birthdate = $("#birthdate").val() || "1967-02-20";
                let charge_rate = "$120";
                for (var i = 0, length = charge_rates.length; i < length; i++) {
                    if (charge_rates[i].checked) {
                        charge_rate = charge_rates[i].value
                        break;
                    }
                }
                student = {
                    first: first, last: last, time: time, day: day, start_date: start_date, teacher: teacher,
                    charge_rate: charge_rate, notes: notes
                };


                $.ajax({
                    type: "POST",
                    url: "sam_api/rm_sam/?format=json",
                    contentType: 'application/json; charset=utf-8',
                    data: JSON.stringify(student),
                    success: function (result) {
                        jQuery("#addStudentModal").modal('toggle');

                        buildTable(day);
                    },

                });

            });

    </script>
    <table id="adminTable" class="table table-bordered table-striped">
        <tbody id="body">

        </tbody>
    </table>
{% endblock %}

{% block javascript %}
    <script>
        let today = new Date();
        let currentDay = today.getDay();
        let currentMonth = today.getMonth();
        let currentYear = today.getFullYear();

        let days = ["sunday", "monday", "tuesday", "wednesday", "thursday", "friday", "saturday"];

        function buildTable(day) {
            let startTime = 10;
            if (day === 'friday') {
                startTime = 6;
            } else if (day === 'saturday') {
                startTime = 0;
            }
            let time = ["10:00", "10:30", "11:00", "11:30", "12:00", "12:30", "1:00", "1:30", "2:00", "2:30",
                "3:00", "3:30", "4:00", "4:30", "5:00", "5:30", "6:00", "6:30", "7:00", "7:30", "8:00", "8:30"];
            teacherId = $("#selectTeacher").val();

            $.ajax({
                type: "GET",
                url: 'sam_api/rm_sam/?format=json',
                data: {
                    postDay: day
                },
                success: function (studentData) {
                    let student_ids = [];
                    let student_times = [];

                    let studentExists = false;
                    let tbody = $("tbody");

                    //creates the <th> elements
                    let html = "<tbody id='body'><tr> <th class='text-center'>Time</th> <th class='text-center'>Name</th><th class='text-center'></th>" +
                        " <th id='lesson1' class='text-center'>Lesson 1</th> <th id='lesson2' class='text-center'>Lesson 2</th>" +
                        " <th id='lesson3' class='text-center'>Lesson 3</th> <th id='lesson4' class='text-center'>Lesson 4</th>" +
                        "<th id='lesson5' class='text-center'></th></tr>";

                    //creates the cells under the Name column
                    for (let t = startTime; t < time.length; t++) {
                        html += "<tr class='studentRow'><td class='text-center'>" + time[t] +
                            "</td><div class='dropdown'><td class='text-center studentName' >" +
                            "<button  style='width:70%' class='btn btn-outline-dark btn-lg text-center studentcell' celltime='" +
                            time[t] + "' type='button' data-toggle='dropdown'>";

                        //displays the data inside the Name button
                        for (let i = 0; i < studentData.length; i++) {
                            if (studentData[i].time == time[t] && studentData[i].day == day && (studentData[i].teacher) == teacherId) {
                                studentExists = true;
                                html += ("<span id='" + studentData[i].id + "'>" + studentData[i].first + " " +
                                    studentData[i].last) + "&nbsp;&nbsp;" + '<span class="badge badge-success">' +
                                    studentData[i].charge_rate + '</span>' + "</span>";
                                student_ids.push(studentData[i].id);
                                student_times.push(time[t]);
                            }


                        }
                        //dislays button for Name cell with no student
                        if (studentExists == false) {
                            html += "<i class='fas fa-user-plus p-0'</i>"
                        }
                        studentExists = false;

                        html += ("</button><ul class='dropdown-menu'><li>" +
                            "<a class='dropdown-item' href='#addStudentModal' data-toggle='modal' data-target='#addStudentModal'>" +
                            "Add New Student</a></li><li>" +
                            "<a class='dropdown-item' href='#dropStudentModal' data-toggle='modal' data-target='#dropStudentModal'>Drop Student</a>" +
                            "</li><li><a class='dropdown-item' href='#editStudentModal' data-toggle='modal' data-target='#editStudentModal'>Edit</a>" +
                            "</li></ul></td></div>" +
                            "<td id='" + time[t] + "_info'></td>" +
                            "<td id='" + time[t] + "_lesson1'></td>" +
                            "<td id='" + time[t] + "_lesson2'></td>" +
                            "<td id='" + time[t] + "_lesson3'></td>" +
                            "<td id='" + time[t] + "_lesson4'></td>" +
                            "<td id='" + time[t] + "_lesson5'></td>");
                    }
                    tbody.replaceWith(html + '</tbody>');

                    if (document.getElementById("selectDay").value === "") {

                        displayDates();
                    } else {
                        currentDay = getDayInt(day);
                        displayDates()
                        displayAttendance(student_ids, student_times);
                        displayInfo(student_ids, student_times);
                    }
                }
            });
        }

        function displayAttendance(student_ids, student_times) {
            let monthString = formatFullMonth(currentMonth).trim();
            let date_label_ids = ['lesson1', 'lesson2', 'lesson3', 'lesson4', 'lesson5'];
            let dates = getLessonDays(currentYear, currentMonth, currentDay);
            $.ajax({
                type: "GET",
                url: 'sam_api/lesson_api/?format=json',
                dataType: "json",
                success: function (lessonData) {
                    for (let i = 0; i < student_times.length; i++) {
                        for (let e = 0; e < date_label_ids.length; e++) {
                            let element = document.getElementById(student_times[i] + "_" + date_label_ids[e]);
                            if (element != null) {
                                let dayOfMonth = dates[e].getDate();
                                for (let j = 0; j < lessonData.length; j++) {
                                    let lesson = "";
                                    let button_id = lessonData[j].id + "_" + date_label_ids[e];
                                    if (lessonData[j]["lessons"][dayOfMonth] != null) {
                                        lesson = lessonData[j]["lessons"][dayOfMonth];
                                    }
                                    if (lessonData[j].student == student_ids[i] && lessonData[j].month == monthString &&
                                        lessonData[j].year == currentYear) {
                                        //element.innerHTML = lesson;
                                        element.innerHTML = "<button  id='" + button_id + "' style='width:70%' " +
                                            "class='btn btn-outline-dark text-center' type='button' " +
                                            "href='#updateAttendanceModal' data-toggle='modal' " +
                                            "onclick='adminUpdateAttendance(this.id)'>" + lesson;
                                    }
                                }
                            }
                        }
                    }
                },
                error: function (xhr, resp, text) {
                    console.log(xhr, resp, text);
                }
            });
        }

        function adminUpdateAttendance(clicked_id) {

            $('#attendanceUpdate').click(function() {

                let lesson_id = parseInt(clicked_id);
                let attendance_options = ['present', 'absent', 'makeup'];
                let attendance_choices = document.getElementsByName('adminAttendance');

                let attendance;
                for (var i = 0, length = attendance_choices.length; i < length; i++) {
                    if (attendance_choices[i].checked) {
                        attendance = attendance_choices[i].value
                        break;
                    }
                }
                //alert(attendance in attendance_options);
                if(attendance_options.includes(attendance)){
                    let lesson_date = JSON.stringify(getLessonDate(clicked_id));
                    //alert(JSON.stringify(lesson_date));
                    //let data = lesson_date +": " + attendance;
                    $.ajax({

                        type: "PATCH",
                        url: "sam_api/lesson_api/" + lesson_id + "/",
                        data: {
                            "lessons" : {
                          lesson_date: attendance
                        }
                      },


                        success: function () {

                            $('#updateAttendanceModal').modal('toggle');
                            buildTable($('#selectDay').val())
                        }
                    });
                }
            });

        }
        function getLessonDate(id){
            let date_label_ids = ['lesson1', 'lesson2', 'lesson3', 'lesson4', 'lesson5'];
            let dates = getLessonDays(currentYear, currentMonth, currentDay);
            let button_id = id;
            let lesson_num = button_id.substring(button_id.indexOf("_") + 1, button_id.length);
            let lesson_index = date_label_ids.indexOf(lesson_num);

            return dates[lesson_index].getDate();
        }

        function displayInfo(student_ids, student_times) {
            $.ajax({
                type: "GET",
                url: 'sam_api/rm_sam/?format=json',
                dataType: "json",
                success: function (studentData) {
                    for (let i = 0; i < student_times.length; i++) {
                        let student = document.getElementById(student_times[i] + "_" + 'info');
                        if (student != null) {
                            for (let j = 0; j < studentData.length; j++) {
                                if (studentData[j].id == student_ids[i]) {
                                    student.innerHTML = "<span class='badge badge-light" +
                                        "'>" + studentData[j].notes + "</span>";
                                }
                            }
                        }
                    }
                },

            });
        }


        //below is code for dynamic date display

        function getDayInt(dayString) {
            let index = 0;
            while (days[index] !== dayString) {
                index++;
            }
            return index;
        }

        function getLessonDays() {
            let firstDayOfThisMonth = new Date(currentYear, currentMonth, 1);
            let firstDayOfThisMonthIndex = firstDayOfThisMonth.getDay();
            let dates = [];
            let daysToFirst = (currentDay + 7 - firstDayOfThisMonthIndex) % 7;
            let firstOf = new Date(firstDayOfThisMonth.setDate(firstDayOfThisMonth.getDate() + daysToFirst));

            while (firstOf.getMonth() === currentMonth) {
                dates.push(new Date(+firstOf));
                firstOf.setDate(firstOf.getDate() + 7);
            }
            return dates;
        }

        function displayDates() {
            let monthString = formatFullMonth(currentMonth);
            document.getElementById('currentdate').innerHTML = monthString + "  " + currentYear;
            let date_label_ids = ['lesson1', 'lesson2', 'lesson3', 'lesson4', 'lesson5'];
            let dates = getLessonDays(currentYear, currentMonth, currentDay);
            let currentNumColumns = (document.getElementById('adminTable').rows[0].cells.length) - 2;
            let numLessonDays = dates.length;
            optimizeTable(currentNumColumns, numLessonDays);
            let index = 0;
            while (dates[index] != null) {
                let monthAbbreviation = dates[index].getUTCMonth();
                monthAbbreviation = formatMonthAbriviation(monthAbbreviation);
                let day = dates[index].getDate();
                let id = date_label_ids[index];
                document.getElementById(id).innerHTML = monthAbbreviation + " " + day;
                index++;
            }
        }

        function optimizeTable(currentNumColumns, numLessonDays) {
            let rows = document.getElementsByTagName('tr');
            if (currentNumColumns === 5 && numLessonDays === 4) {
                for (let i = 0; i < rows.length; i++) {
                    rows[i].lastChild.remove();
                }
            } else if (currentNumColumns === 4 && numLessonDays === 5) {
                let th = document.createElement('th');
                th.setAttribute("id", "lesson5");
                th.setAttribute("class", "text-center");
                rows[0].appendChild(th);
                for (let i = 1; i < rows.length - 1; i++) {
                    rows[i].insertCell(-1);
                }
            }
        }


        function formatMonthAbriviation(date) {
            let months = ["Jan ", "Feb ", "Mar ", "Apr ", "May ", "June ", "July ", "Aug ", "Sept ",
                "Oct ", "Nov ", "Dec "];
            return months[date];
        }

        function formatFullMonth(date) {
            let months = ["January ", "February ", "March ", "April ", "May ", "June ", "July ",
                "August ", "September ", "October ", "November ", "December "];
            return months[date];
        }


        function nextMonth() {
            let dayString = days[currentDay];
            buildTable(dayString);
            currentYear = (currentMonth === 11) ? currentYear + 1 : currentYear;
            currentMonth = (currentMonth + 1) % 12;
            displayDates(currentYear, currentMonth);
        }

        function previousMonth() {
            let dayString = days[currentDay];
            buildTable(dayString);
            currentYear = (currentMonth === 0) ? currentYear - 1 : currentYear;
            currentMonth = (currentMonth === 0) ? 11 : currentMonth - 1;
            displayDates(currentYear, currentMonth);
        }

    </script>
    <script>
        //see code below for updating student info
        $(document).ready(function () {
            let day = $("#selectDay").val();
            buildTable(day);
            $("#day").val(day);
        });

        $(document).ready(function () {
            $(document).on('click', '#confirmDrop', function () {
                dropId = $(this).attr('dropId')
                $.ajax({
                    type: "PATCH",
                    url: "sam_api/rm_sam/" + dropId + "/",
                    data: {
                        time: '0:00',
                        day: 'noday'
                    },
                    success: function (data) {
                        jQuery("#dropStudentModal").modal('toggle');
                        buildTable($('#selectDay').val())
                    },
                    error: function (xhr, resp, text) {
                        console.log(xhr, resp, text);
                    }
                });
            });

            //this function refreshes the table when the day is changed
            $("#selectDay").change(function () {
                let day = $("#selectDay").val();
                buildTable(day);
                $("#day").val(day);
            });

            $("#selectTeacher").change(function () {
                var day = $("#selectDay").val();
                buildTable(day);
                $("#day").val(day);

                let selectedTeacher = document.getElementById("selectTeacher");
                let teacher_name = selectedTeacher.options[selectedTeacher.selectedIndex].text;
                $('#teacher').attr('placeholder', teacher_name.toString());
                //$("#teacher").val(selectedTeacher);
            });

            //this function refreshes the table when a student is added
            $("#add").click(function () {
                buildTable($("#selectDay").val());
            });


            //This function updates the time value in the add student form
            //when a table cell button is clicked
            $(document).on('click', '.studentcell', function () {
                time = $(this).attr('celltime');
                $('#time').val(time);
                dropStudent = $(this).html();
                $('#dropStudentName').html(dropStudent);
                dropStudentID = $(this).children().attr('id');
                $('#confirmDrop').attr('dropId', dropStudentID);

            });

            $(document).on('click', '#cancel_drop', function () {
                jQuery("#dropStudentModal").modal('toggle');
            })
            $(document).on('click', '#cancel_insert', function () {
                jQuery("#insertStudentModal").modal('toggle');
            })
        });


    </script>
{% endblock %}
</body>
</html>