{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="modal-dialog text-center">
            <div class="col-sm-9 main-section">
                <div class="modal-content">

                    <h2 class="text-center">Login</h2>
                    <div class="col-md-12">
                        <form method="POST">
                            {% csrf_token %}
                            <div class="form-group">
                                <label>
                                    <input type="text" class="form-control" placeholder="Enter Username" name="username">
                                </label>

                            </div>
                            <div class="form-group">
                                <label>
                                    <input type="password" class="form-control" placeholder="Enter Password"
                                           name="password">
                                </label>
                            </div>
                            <button type="submit" class="btn btn-secondary mb-3">Login</button>
                        </form>

                    </div>
                </div><!--modal-content-->
            </div><!--main-section-->
        </div><!--modal-dialog-->
    </div><!--container-->

{% endblock %}
