{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Teacher</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">
    <link rel="stylesheet" href="{% static 'css/teacherstyles.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

</head>
<body id="body">
<nav class="teachernav navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="nav-item">
        <a class="fas fa-home fa-home-lg navbar-brand mr-5" href="{% url 'home' %}"></a>
    </div>
    <h3 class="h3 text-light ml-5 mr-5 ">Welcome {{ user.first_name }}!</h3>
    <h4 class="h4 text-light ml-lg-5">{{ today|title }} Schedule</h4>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="btn btn-outline-light" href="{% url 'logout' %}">Logout</a>
            </li>
        </ul>
    </div>
</nav>

<div class="table-responsive">
    <form action="" id="attendance_form" class="row px-3" method="post">{% csrf_token %}
        <table class="table table-dark m-0">
            <thead class="teachernav">
            <tr>
                <th class="header font-weight-bold" scope="col">Time</th>
                <th class="header font-weight-bold" scope="col">Name</th>
                <th class="header font-weight-bold" scope="col">Present<br></th>
                <th class="header font-weight-bold" scope="col">Absent</th>
                <th class="header font-weight-bold" scope="col">Makeup</th>
            </tr>
            </thead>
            <tbody>

            {% for student in students %}

                <tr>
                <th scope="row"><bold>{{ student.time }}</bold></th>
                <td hidden>

                </td>
                <td>{{ student.first }} {{ student.last }}</td>
                <td>
                    <label for="{{ student.id }}_present" hidden></label>
                    <input type="radio" id="{{ student.id }}_present"
                           name="{{ student.id }}_attendance" value="true" checked="checked">
                </td>
                <td>
                    <label for="{{ student.id }}_absent"></label>
                    <input type="radio" id="{{ student.id }}_absent"
                           name="{{ student.id }}_attendance" value="false">
                </td>
                <td>
                    <label for="{{ student.id }}_makeup"></label>
                    <input type="radio" id="{{ student.id }}_makeup"
                           name="{{ student.id }}_attendance" value="makeup">
                </td>
            {% endfor %}
            </tbody>
        </table>
        <div class="container mt-1">
            <div class="row">
                <div class="col col-3"></div>
                <div class="col col-6">
                    <input class="btn btn-outline-light btn-lg btn-block" id="attendance_update" type="submit"
                           value="Submit">
                </div>
                <div class="col col-3"></div>
            </div>
        </div>
    </form>

</div>

</body>
</html>