.center-block {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;

}
#next{
    white-space: nowrap;
}

.teachernav {
    background: url("../images/rock.jpg");
}

.header {
    color: white;
}

#body {
    background: url("../images/rock.jpg");
}

